<section id="friendly-link">
  <h2 class="panel-heading">友好链接</h2>
  <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
    <li class="text-truncate lh-lg">
      <a href="https://chaoli.club/">超理论坛</a>
    </li>
    <li class="text-truncate lh-lg">
      <a href="https://ruoxining.github.io/">Ruoxi Ning - Homepage</a>
    </li>
    <li class="text-truncate lh-lg">
      <a href="https://www.zzy2001.com/">小祝同学的日常</a>
    </li>
    <li class="text-truncate lh-lg">
      <a href="https://worms217.github.io/">虫的个人博客</a>
    </li>
    <li class="text-truncate lh-lg">
      <a href="https://hafnium-chen.github.io/">猫のHomepage</a>
    </li>
    <li class="text-truncate lh-lg">
      <a href="https://kokic.github.io/">回声</a>
    </li>
    <li class="text-truncate lh-lg">
      <a href="https://indigovoid.github.io/">indigovoid</a>
    </li>
  </ul>
</section>
