<section id="friendly-link">
  <h2 class="panel-heading lh-sm">友情链接</h2>
  <div class="content mt-1 lh-lg" style="font-size: 14px;">
    <a href="https://chaoli.club/" style="white-space: nowrap;" target="_blank">超理论坛</a> |
    <a href="https://ruoxining.github.io/" style="white-space: nowrap;" target="_blank">Ruoxi Ning - Homepage</a> |
    <a href="https://www.zzy2001.com/" style="white-space: nowrap;" target="_blank">小祝同学的日常</a> |
    <a href="https://worms217.github.io/" style="white-space: nowrap;" target="_blank">虫的个人博客</a> |
    <a href="https://hafnium-chen.github.io/" style="white-space: nowrap;" target="_blank">猫のHomepage</a> |
    <a href="https://kokic.github.io/" style="white-space: nowrap;" target="_blank">回声</a> |
    <a href="https://indigovoid.github.io/" style="white-space: nowrap;" target="_blank">indigovoid</a> |
    <a href="https://brainfo.github.io/" style="white-space: nowrap;" target="_blank">Ruby Blog</a>
  </div>
</section>
